* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #d5e1ef;
  font-family: Outfit;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  background-color: #ffffff;
  border-radius: 20px;
  height: 500px;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main > div > div {
  height: 100%;
  width: 100%;
  text-align: center;
  
}

main>div>div>:last-child{
  padding: 0px 30px;
  gap: 5px;
  font-size: 15px;
  text-align: center;
}
main>div>div>:first-child{
  padding: 15px;
}