
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
 
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

html,
body {
  background-color: #d5e1ef;
  font-family: Outfit;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div {
  background-color: #ffffff;
  border-radius: 1.2rem;
  height: auto;
  max-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
  text-align: center;
}

img {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.7rem;
}

p{
  margin-top: 0.8rem;
  
}